.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url("../carrot/img/background.png") center/cover;
}

.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game-field {
  width: 100%;
  height: 100%;
  background-color: blue;
}
