button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url("../carrot/img/background.png") center/cover;
}

.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game-button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game-button:hover {
  transform: scale(1.1);
}

.game-timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  font-size: 32px;
  margin-top: 8px;
}

.game-field {
  width: 100%;
  height: 100%;
  background-color: blue;
}
